@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@500&family=Epilogue:wght@500&family=Lato:wght@300&family=League+Spartan:wght@900&display=swap');


body{
    font-family: 'Archivo', sans-serif; 
    background-color: #FBE589;
    height: 100vh;
    width: 100%;
    /* margin: 50px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: #DFD4E6;
    /* justify-content: center;
    align-items: center; */
    text-align: center;
    width: 1000px;
    height: 500px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 50px;
    padding-right: 50px;   
    border-radius: 10px; 
}



.notes-page{
    background-color: #AFD9D9;
    height: 10rem;
    width: 10rem;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    text-align: center;
    /* padding: 10px; */
    gap: 5px;
    border-radius: 5px;
}
.note-head button{
    border: none;
    background-color: transparent;
    cursor: pointer;
}


.note-head button:hover{
color:#bd4155 ;
}



.note-head{
    background-color: #FBE589;
    width: 100%;
    top: 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 25px;
    display: flex;
    flex-direction: row-reverse;
}
.note-body p{
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 0;
    margin-bottom: 0;
}

 textarea{
    background-color: transparent;
    width: 130px;
    height: 150px;
    border: none;
    outline: none;
}

textarea:hover{
    background-color:#98c7c7;
}




.head-container{
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.head-container button{
    border: none;
    background-color: #FFC7D0;
    cursor: pointer;
    height: 30px;
    width: 120px;
    text-align: center;
    border-radius: 5px;
    font-size: medium;
    font-weight: bolder;
}

.head-container button:hover{
    background-color: #f3b5bf;

}

